* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    padding: 0;
    margin: 0;
}
/* custom scroll bar */
::-webkit-scrollbar {width: 0px !important;height:1px !important}
::-webkit-scrollbar-track {background: #242526;}
::-webkit-scrollbar-thumb {background: #3A3B3C;}
.tab-content {
    padding: 0 !important;
    height: calc(100vh - 45px);
}
.tab-pane {
    width: 100vw !important;
    margin: 0 !important;
    padding: 0 !important;
}
.nav {
    width: 100vw !important;
    overflow-x: hidden;
    background: #eee;
}
.nav-link {
    background: transparent;
    color: #000;
}
.nav-link.active {
    color: orange !important;
    background: transparent !important;
    border: none;
}
.app {
    width: 100%;
    height: calc(100vh - 45px);
    overflow: hidden;
    background: #fff;
}
.result {
    width: 100vw;
    background: #fff;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 110vw;
    z-index: 50;
    transition: all .5s ease;
}
.app, .result {
    background: #fff url('../image/bg.png') no-repeat fixed center;
    background-size: cover;
}

.result.active {
    left: 0;
}
.loader {
    width: 100vw;
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 55;
    transition: all .5s ease;
    font-size: 50px;
    color: white;
    justify-content: center;
    align-items: center;
}
.loader .roller {
    display: block;
    animation: roll .5s linear infinite;
}
@keyframes roll {
    from {transform: rotate(0deg)}
    to {transform: rotate(359deg)}
}
@-webkit-keyframes roll {
    from {-webkit-transform: rotate(0deg)}
    to {-webkit-transform: rotate(359deg)}
}
.loader.active {
    display: flex;
}
.content {
    padding: 15px;
    z-index: 1;
    height: calc(100vh - 50px);
    overflow-y: auto;
}
.back-btn {
    background: transparent;
    padding: 20px 0 5px 20px;
    font-size: 25px;
    font-weight: 800;
    width: fit-content;
    z-index: 1;
}
.title {
    font-weight: 800;
    margin-bottom: 10px;
    width: fit-content;
background: linear-gradient(135deg, blue, navy);
    background: -webkit-linear-gradient(135deg, blue, navy);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title img {
    width: 50px;
    height: auto;
}
.field {
    padding: 15px;
    border-radius: 0 0 20px 20px;
    background: linear-gradient(135deg, #b3d9ff, #66b3ff);
    background: -webkit-linear-gradient(135deg, #b3d9ff, #66b3ff);
    z-index: 1;
}
.content {
    width: 100vw;
}
.table {
    min-width: 100%;
    display: block;
    z-index: 1;
}
.c-tab  {
    display: block;
    height: calc(100vh - 195px) !important;
    overflow-y: auto !important;
    margin-top: 10px;
    width: 100vw;
}
.c-table tr td:nth-child(1) {
    width: calc(100vw - 20px);
}
.c-table tr td:nth-child(2) {
    width: 20px;
}
.d-table tr td {
    white-space: nowrap;
}
.d-table tr td:nth-child(1) {
    font-weight: 700;
}

/* Language translation */
.container{
    width: 100%;
    padding: 30px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.01);
  }
  .wrapper{
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .wrapper .text-input{
    display: flex;
    border-bottom: 1px solid #ccc;
  }
  .text-input .to-text{
    border-radius: 0px;
    border-left: 1px solid #ccc;
  }
  .text-input textarea{
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    background: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
  }
  .text-input textarea::placeholder{
    color: #b7b6b6;
  }
  .controls, li, .icons, .icons i{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .controls{
    list-style: none;
    padding: 12px 15px;
  }
  .controls .row .icons{
    width: 38%;
  }
  .controls .row .icons i{
    width: 50px;
    color: #adadad;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s ease;
    justify-content: center;
  }
  .controls .row.from .icons{
    padding-right: 15px;
    border-right: 1px solid #ccc;
  }
  .controls .row.to .icons{
    padding-left: 15px;
    border-left: 1px solid #ccc;
  }
  .controls .row select{
    color: #333;
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
    padding-left: 5px;
  }
  .text-input textarea::-webkit-scrollbar{
    width: 4px;
  }
  .controls .row select::-webkit-scrollbar{
    width: 8px;
  }
  .text-input textarea::-webkit-scrollbar-track,
  .controls .row select::-webkit-scrollbar-track{
    background: #fff;
  }
  .text-input textarea::-webkit-scrollbar-thumb{
    background: #ddd;
    border-radius: 8px;
  }
  .controls .row select::-webkit-scrollbar-thumb{
    background: #999;
    border-radius: 8px;
    border-right: 2px solid #ffffff;
  }
  .controls .exchange{
    color: #adadad;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease;
  }
  .controls i:active{
    transform: scale(0.9);
  }
  .container button{
    width: 100%;
    padding: 14px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
    border-radius: 5px;
    background: #5372F0;
  }
  
  @media (max-width: 660px){
    .container{
      padding: 20px;
    }
    .wrapper .text-input{
      flex-direction: column;
    }
    .text-input .to-text{
      border-left: 0px;
      border-top: 1px solid #ccc;
    }
    .text-input textarea{
      height: 200px;
    }
    .controls .row .icons{
      display: none;
    }
    .container button{
      padding: 13px;
      font-size: 16px;
    }
    .controls .row select{
      font-size: 16px;
    }
    .controls .exchange{
      font-size: 14px;
    }
  }

  /* Currency Converter */
  .wrapper2{
    width: 370px;
    padding: 20px 15px 20px 10px;
    border-radius: 7px;
    background: transparent;
  }
  .wrapper2 header{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
  }
  .wrapper2 form{
    margin: 40px 0 0px 0;
  }
  form :where(input, select, button){
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: none;
  }
  form p{
    font-size: 18px;
    margin-bottom: 5px;
  }
  form input{
    height: 50px;
    font-size: 17px;
    padding: 0 15px;
    border: 1px solid #999;
  }
  form input:focus{
    padding: 0 14px;
    border: 2px solid #675AFE;
  }
  form .drop-list{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
  }
  .drop-list .select-box{
    display: flex;
    width: 140px;
    height: 45px;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    border: 1px solid #999;
  }
  .select-box img{
    max-width: 21px;
  }
  .select-box select{
    width: auto;
    font-size: 14px;
    background: none;
    margin: 0 0px 0 5px;
  }
  .select-box select::-webkit-scrollbar{
    width: 8px;
  }
  .select-box select::-webkit-scrollbar-track{
    background: #fff;
  }
  .select-box select::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 8px;
    border-right: 2px solid #ffffff;
  }
  .drop-list .icon{
    cursor: pointer;
    margin-top: 30px;
    font-size: 22px;
  }
  form .exchange-rate{
    font-size: 17px;
    margin: 20px 0 30px;
  }
  form button{
    height: 52px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    background: #675AFE;
    transition: 0.3s ease;
  }
  form button:hover{
    background: #4534fe;
  }